.container2{
	width: 98% auto;
	height: 100%;
	margin: 15px;
}
#about{
	height: 600px;
    width: 100%;
    background-size: cover;
    margin: auto;
    float: left;
}
.aHEADING{
	text-align: center;
	margin: 24% 0 0 0.9%;
	background: rgb(255, 255, 255); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: white;
	float: left;
}
.aIMGS{
	width: 100%;
	border-radius: 25%;
	margin: 0;
}
#aIMGS{
	width: inherit;
	object-fit: fill;
}
.aIMGS, #aIMGS{
	height: 535.5px;
	float: left;
}
.aP{
	margin: 28% 0 0 0.9%;
	color: white;
	opacity: 90%;
	width: 97.8%;
	background: rgb(255, 255, 255); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
.footer2{
	float: left;
	width: 100%;
	height: 125px;
	background-image: url(../IMG/NAMECARDS/cf20.png);
	background-size: 100% 100%;
	text-align: center;
	margin: -1% 0 1% 0;
}
.footer2P{
	float: right;
	margin: 0 1% 0 0;
	text-align: right;
	color: white;
	font-size: 12px;
}
.footer2UL{
	float: left;
	margin: 2% 0 0 0;
}
.footer2UL2{/*2ND & 3RD UN-ORDERED LIST*/
	float: right;
	margin: -1% 0 0 0;
}
.footer2UL3{/*2ND & 3RD UN-ORDERED LIST*/
	float: right;
	margin: -2% 0 0 0;
}
.footer2LI2{ /*2ND ORDERED LIST*/
	margin: 13% 0 0 0;
	padding: 0 17px;
	display: inline-block;
	position: relative;
}
.footer2LI3{ /*2ND ORDERED LIST*/
	float: right;
	margin: auto -2.5% 0 -3.5%;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
#picico2{ /*2ND SMARTPHONE, EMAIL & FB ICON*/
	height: 24px;
	width: 24px;
	margin-top: -15%;
}
.LEFT{
	float: left;
	color: white;
	margin: 1% auto auto 3%;
}
@media only screen and (min-width:0px) and (max-width:320px){
	#about{
		background-size: 100% 100%;
	}
	.aHEADING{
		margin: 40% 0 0 0%;
		font-size: x-large;
		float: left;
	}
	.aP{
		overflow-y: scroll;
		height: 75%;
		width: 100%;
		margin: 50% 0 0 0;
	}
	#picico2{
		height: 15px;
		width: 15px;
	}
}
@media only screen and (min-width:330px) and (max-width:375px){
	#about{
		background-size: 100% 100%;
	}
	.aHEADING{
		margin: 35% 0 0 0%;
		font-size: x-large;
		float: left;
	}
	.aP{
		overflow-y: scroll;
		height: 75%;
		width: 100%;
		margin: 40% 0 0 0%;
	}
	#picico2{
		height: 15px;
		width: 15px;
	}
}
@media only screen and (min-width:380px) and (max-width:425px){
	#about{
		background-size: 100% 100%;
	}
	.aHEADING{
		margin: 30% 0 0 0%;
		font-size: x-large;
		float: left;
	}
	.aP{
		overflow-y: scroll;
		height: 75%;
		width: 100%;
		margin: 38% 0 0 0%;
	}
	#picico2{
		height: 15px;
		width: 15px;
	}
}
@media only screen and (min-width:430px) and (max-width:768px){
	.container2, body, html{
		height: 761px;
	}
	.navigation{
		height: initial;
	}
	#about{
		background-size: 100% 100%;
	}
	.aHEADING{
		margin: 25% 0 0 0;
		font-size: x-large;
		float: left;
	}
	.aP{
		overflow-y: scroll;
		height: 64%;
		width: 100%;
		margin: 29% 0 0 0%;
	}
	#picico2{
		height: 15px;
		width: 15px;
	}	
}
@media only screen and (min-width:430px) and (max-width:720px) and (max-height:1600px){
	.container2, body, html{
		height: auto;
	}
	.navigation{
		height: initial;
	}
	#about{
		background-size: 100% 100%;
		height: 920px;
	}
	.aHEADING{
		margin: 70% 0 0 0;
		font-size: x-large;
		float: left;
	}
	.aP{
		overflow-y: scroll;
		height: 75%;
		width: 100%;
		margin: 70% 0 0 0%;
	}
	.footer{
		margin: 0 0 0 0;
	}
}