.container2{
	width: 98% auto;
	height: 100% auto;
	margin: 15px;
}
.namecard{
	margin: auto;
	float: left;
	width: 100%;
	height: 100px;
	position: relative;
	background-image: url(../IMG/NAMECARDS/contactnamecard.png);
	background-size: 100% 100%;
}
.title{
	text-align: center;
	font-size: 300%;
	color: white;
}
.tblbtn{
	width: 100%;
	background-color: rgb(16, 16, 16);
	height: inherit;
}
.btn{
	margin: 0 auto 0 auto;
	width: 50%;
	display: block;
	color: white;
	background-color: transparent;
	border: none;
	padding: 2px 4px;
	font-size: 16px;
}
.btn:hover{
	background-color: red;
}
.cntct, .cntct2{
	width: 100%;
	height: 450px;
	overflow-y: scroll;
	background-image:  url(../IMG/MSC/contactBG.png);
	background-size: 100% 100%;
	color: white;
}
.cntctimg{
	margin: 2% auto 0 auto;
	width: 90%;
	display: block;
	border-radius: 2%;
}
.cntcttble{
	width: 100%;
}
.sze{
	font-size: 100%;
	display: inline-block;
	color: white;
	margin-left: 15%;
}
.cntct2{
	display: none;
}
.cntct2 p, .cntct2 h1{
	margin: 2% 0 0 5%;
	font-size: 125%;
}
.cntct2 img{
	float: right;
	margin: -10% 2% 0 0;
	height: 128px;
	width: 128px;
}
.cntct2 td{
	padding: 0 100px;
	font-size: 150%;
}
.CommentContainer{
	background-color: rgb(128, 128, 128, 1.0);
	margin: auto;
	height: 390px;
	overflow-y: scroll;
}
.CommentContainer h1{
	text-align: center;
}
.LEFT{
	float: left;
	color: white;
	margin: 1% auto auto 3%;
}
@media only screen and (min-width:0px) and (max-width:320px){
	.cntct{
		height: 260px;
	}
	.tblbtn button{
		margin: auto 10% auto 10%;
	}
	.namecard h1, .cntct h1{
		font-size: 150%;
		margin: 5% auto auto 3%;
	}
	.sze{
		margin: auto -12% auto -10%;
		font-size: 45%;
	}
	.cntct2 p{
		font-size: 60%;
	}
	.cntct2 h1{
		font-size: 60%;		
	}
	.cntct2 img{
		height: 15%;
		width: 25%;
		margin: -22% 5% auto auto;
	}
	.cntct2 table tbody tr td{
		font-size: 75%;
	}
	.cntct2 table {
		margin: -5% -30% auto -35%;
	}
}
@media only screen and (min-width:330px) and (max-width:375px){
	.cntct{
		height: 255px;
	}
	.namecard h1, .cntct h1{
		font-size: 150%;
		margin: 5% auto auto 3%;
	}
	.sze{
		margin: auto -7% auto -8%;
		font-size: 50%;
	}
	.cntct2 p{
		font-size: 60%;
	}
	.cntct2 h1{
		font-size: 60%;		
	}
	.cntct2 img{
		height: 13%;
		width: 23%;
		margin: -18% 5% auto auto;
	}
	.cntct2 table tbody tr td{
		font-size: 50%;
	}
	.cntct2 table {
		margin: -5% -70% auto -29%;
	}
}
@media only screen and (min-width:380px) and (max-width:425px){
	.cntct{
		height: 285px;
	}
	.namecard h1, .cntct h1{
		font-size: 150%;
		margin: 5% auto auto 3%;
	}
	.sze{
		margin: auto -7% auto -8%;
		font-size: 62%;
	}
	.cntct2 p{
		font-size: 60%;
	}
	.cntct2 h1{
		font-size: 60%;		
	}
	.cntct2 img{
		height: 15%;
		width: 20%;
		margin: -17% 5% auto auto;
	}
	.cntct2 table tbody tr td{
		font-size: 75%;
	}
	.cntct2 table {
		margin: -5% -70% auto -25%;
	}
}
@media only screen and (min-width:430px) and (max-width:768px){
	.cntct{
		height: 445px;
	}
	.namecard h1, .cntct h1{
		font-size: 150%;
		margin: 5% auto auto 3%;
	}
	.sze{
		margin: auto;
		font-size: 100%;
	}
	.cntct2 p{
		font-size: 60%;
	}
	.cntct2 h1{
		font-size: 60%;		
	}
	.cntct2 img{
		height: 15%;
		width: 13%;
		margin: -10% 5% auto auto;
	}
	.cntct2 table tbody tr td{
		font-size: 75%;
	}
	.cntct2 table {
		margin: auto -70% auto -10%;
	}	
}